{% extends 'SiteMainBundle::layout.html.twig' %}

{% block html %}ng-app="audio"{% endblock %}

{% block content %}
{#<div class="div1">#}
    {#{{ pages[0].text|raw }}#}
{#</div>#}
<div class="div2">
        <ul class="catalog">
            {% for image in portfolio %}<li class="box{% if loop.index%4 == 0 %} lst{% endif %}" id="box{{ image.id }}">{% if loop.index == 6 or loop.index == 11 %}<canvas width="506" height="366"></canvas><div class="text"><div><div>{% if loop.index == 6 %}{{ page.text|raw }}{% endif %}{% if loop.index == 11 %}{{ page2.text|raw }}{% endif %}</div></div></div>{% else %}<a href="{{ asset(image.photo) }}" ></a><img class="lazy" data-original="{{ image(image.photo).zoomCrop(506, 366) }}" src="{{ asset('sitemain/images/black.jpg') }}" alt="">{% endif %}</li>{% endfor %}
        </ul>
</div>
{#<div class="div3">#}
    {#{{ pages[1].text|raw }}#}
{#</div>#}
{% endblock %}