{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset('sitemain/css/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Actor:400|Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic|Oswald:300|Source+Sans+Pro:200&subset=latin,cyrillic">
    <link type="text/css" rel="stylesheet" href="{{ asset('sitemain/css/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('sitemain/css/flexslider.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('sitemain/css/flexslider-custom.css') }}">
    <link rel='stylesheet' type="text/css" href='{{ asset('sitemain/js/code.photoswipe-3.0.5/3.0.5/photoswipe.css') }} '>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="content">
        {{ render(url('Site_main_audio')) }}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('sitemain/js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('sitemain/css/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/init_flexslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/code.photoswipe-3.0.5/3.0.5/lib/klass.min.js') }} "></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/code.photoswipe-3.0.5/3.0.5/code.photoswipe.jquery-3.0.5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/audio5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('sitemain/js/init.audio.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        });
    </script>
{% endblock %}